<mat-toolbar color="dark"></mat-toolbar>
<div class="row">
    <div class="col-md-6 col-lg-6">
       <h1>Information du client: {{data.libelle}}</h1>
        <div class="form-group">
            <label>Nom du client</label>
            <input matInput class="form-control" [(ngModel)]="data.libelle" >
        </div>
        <div class="form-group">
            <label>Adresse du client</label>
            <input  class="form-control" [(ngModel)]="data.adresse" >
        </div>
        <div class="form-group">
            <label>Téléphone</label>
            <input class="form-control" [(ngModel)]="data.tel"  >
        </div>
        <div class="form-group">
            <label>Email du client</label>
            <input  class="form-control" [(ngModel)]="data.email" >  
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" (click)="modifier()">VALIDER</button>
        </div> 
    </div>  
</div>