
<br>
<mat-toolbar color="dark"></mat-toolbar>
<div>
  
  Deatil de la commande N° : <label>{{data.numero}}</label> 
 </div>
 <br>
   <mat-toolbar color="dark">
    
  </mat-toolbar>
 <div *ngIf="lcoms" class="pricing-header mx-auto"> 
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
    <thead>
    <tr>
    <th scope="col">Article </th>
    <th scope="col">Qte</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lcom of lcoms | paginate: { itemsPerPage: 10, currentPage: p }">
    <td>{{lcom.libart}}</td>
    <td>{{lcom.qte}}</td>
    </tr>
    </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>




