<mat-toolbar color="dark"></mat-toolbar>
<div class="row">
    <div class="col-md-6 col-lg-6">
       <h1>Modification de l'utilisateur</h1>

       <div class="form-group">
        <label>Nom utilisateur</label>
        <input  class="form-control" [(ngModel)]="data.nom" >
      </div>
      <div class="form-group">
        <label>Role</label>
        <input matInput class="form-control" [(ngModel)]="data.role" readonly >
        <mat-form-field appearance="fill">
            <mat-label>Droitt d'accès</mat-label>
            <mat-select [(ngModel)]="data.role">
              <mat-option value="admin">Administrateur</mat-option>
              <mat-option value="User">Utilisateur</mat-option>
              <mat-option value="Manager">Manager gérant</mat-option>
              <mat-option value="Caissier">Caissier</mat-option>
              <mat-option value="Depot">Gestionnaire dépôt</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
       <div class="form-group">
            <label>Login</label>
            <input  class="form-control" [(ngModel)]="data.login" >
        </div>
        <div class="form-group">
            <label>Password</label>
            <input  class="form-control" [(ngModel)]="data.pwd" >
        </div>
        <div class="form-group">
            <input matInput class="form-control" [(ngModel)]="data.idMagasin" readonly >
            <mat-form-field appearance="fill">
                <mat-label>Magasin</mat-label>
                <mat-select [(ngModel)]="data.idMagasin" >
                  <mat-option *ngFor="let p of magasins._embedded.magasins" [value]="p.id">{{p.libelle}}</mat-option>
                  
                </mat-select>
              </mat-form-field>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" (click)="modifier()">VALIDER</button>
        </div> 
    </div>  
</div>