<mat-toolbar color="dark"></mat-toolbar>
  <mat-toolbar color="dark">
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
      Magasin
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
             <li>
                <a class="btn btn-sm btn-success text-white pull-right" (click)="addData()" >
                    <i class="fa fa-plus"></i>Add Magasin </a>
          </li>
        </ul>
    </div>
  </mat-toolbar>
 <div class="pricing-header mx-auto">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
    <thead>
    <tr>
    <th scope="col">Code</th>
    <th scope="col">Libelle </th>
    <th class="text-center" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let magasin of magasins._embedded.magasins | paginate: { itemsPerPage: 10, currentPage: p }">
    <td>{{magasin.id}}</td>
    <td>{{magasin.libelle}}</td>
    <td><button class="btn btn-danger" (click) = "removeData(magasin)">
      <i class="fa fa-trash fa-lg"></i></button></td>
    </tr>
     </tbody>
     </table>
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>
 </div>