<mat-toolbar color="dark"></mat-toolbar>
<div class="row">
    <div class="col-md-6 col-lg-6">
       <h1>Modification de la catégorie</h1>

       <div class="form-group">
        <input type="hidden" class="form-control" [(ngModel)]="data.code" >
      </div>
       <div class="form-group">
            <label>Catégorie</label>
            <input matInput class="form-control" [(ngModel)]="data.libelle" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" (click)="modifier()">VALIDER</button>
        </div> 
    </div>  
</div>
