<mat-toolbar color="dark"></mat-toolbar>
<mat-toolbar color="dark">
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
      <button class="btn btn-danger" (click)="print()">
        <i class="fa fa-print "></i></button>
     <h2>SUPPRESSION FACTURE</h2>
    </div>
    
  </mat-toolbar>
  
<form >  
</form>
<form [formGroup]="formtemplate" (submit)="chercherNum(formtemplate.value)"> 
  <div class="form-group col-md-3">
      <label><strong>Numéro facture: </strong></label>
      <input type="text" class="form-control" formControlName="numero"> 
  <br> <br>
      <button type="submit" class="btn btn-success">CHERCHER</button>
  </div> 
</form>
<table class="table table-hover">
<thead class="thead-light">
<th>numero</th>  
<th>Date commande</th>
<th>Code client</th>
<th>Désignation client</th>
<th>Total Ht</th>
<th>Total Tva</th>
<th>Total TTC</th>
<th>Montant payé</th>
<th>Reste à payer</th>

</thead>
<tbody>
<tr *ngFor="let comm of commandeListe | paginate: { itemsPerPage:5, currentPage: p }">
<td>{{comm.numero}}</td>
<td>{{comm.date| date:'dd/MM/yyyy'}}</td>
<td>{{comm.code_client}}</td>
<td>{{comm.lib_client}}</td>
<td >{{comm.totht}}</td>
<td >{{comm.tottva}}</td>
<td >{{comm.totttc}}</td>
<td >{{comm.mt}}</td>
<td >{{comm.reste}}</td>
<td>
<a class="btn text-danger" (click)="onDelete(comm.id)"><i class="fa fa-trash fa-lg" >
</i> 
</a >
</td>
<!--<td>
  <a class="btn text-danger" (click)="onDetail(comm)"><i >Détails</i> </a>
</td>-->
</tr>
<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" 
role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7">
<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
  <ul class="pagination"></ul></div></div></div>
</tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls> 

