<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-8">
        <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
        <div class="row">
        
        <div class="col-lg-12">
        <div class="p-5">
       <h1>Ajout Article</h1>
       <form [formGroup]="formtemplate" (submit)="addArticle(formtemplate.value)">
           <mat-horizontal-stepper>
               <mat-step label="Informations sur l'article">
                <div class="form-group">
                    <input  class="form-control" formControlName="libelle" placeholder="Article">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.libelle.errors?.required">Champ obligatoire.</div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="pa" placeholder="Prix achat">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.pa.errors?.required">Champ obligatoire.</div>
                </div>
                <div class="form-group" >
                    <label>Categorie</label>
                    <select class="form-control" formControlName="codeCateg" placeholder="Categorie" (change)="onSelectCateg($event.target.value)"[(ngModel)]="cat">
                        <option value="0">-select-</option>
                        <option *ngFor="let categorie of categories._embedded.categories" value="{{categorie.code}}">{{categorie.libelle}}</option>
                    </select>
                </div>
               <!-- <div class="form-group" >
                    <label>Sous catégorie</label>
                    <select class="form-control" formControlName="codeScateg" placeholder="Sous categorie"  >
                        <option value="0">-select-</option>
                        <option *ngFor="let scategorie of scategories" value="{{scategorie.code}}">{{scategorie.libelle}}</option>
                    </select>
                </div>-->
                <div class="form-group" >
                    <label>Pharmacie: {{nommag}}</label>
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="idMagasin" [(ngModel)]="idmag" readonly>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.stkinit.errors?.required">Champ obligatoire.</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="local" formControlName="local" id="exampleRadios1" value="interne">
                        <label class="form-check-label" for="exampleRadios1">
                         Interne
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="local" formControlName="local" id="exampleRadios1" value="externe">
                        <label class="form-check-label" for="exampleRadios1">
                         Externe
                      </label>
                    </div>
                  </div>
                <div class="form-group">
                    <button mat-button matStepperPrevious>Back</button>
                    <button type="submit" class="btn btn-success">VALIDATED</button>
                    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
                </div> 
               </mat-step>
           </mat-horizontal-stepper>
      </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>